@import "../../common/scss/index";

.navbar {
  height: 100px;
  line-height: 100px;
  background-color: $primaryColor;
  padding: 0 20px;
  display: flex;

  .nav-links {
    display: inline-block;
    flex: 1;
  }

  .nav-links span {
    padding: 10px;
    font-size: 20px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
  }
}
