@import "../../common/scss/index";

.navbar {
  height: 100px;
  background-color: $primaryColor;
  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    margin-right: 50%;
  }

  .nav-links span {
    font-size: 1.6rem;
  }

  a {
    color: red;
  }
}
